@page
@model sacramentMeetingPlanner.Pages.SacramentPlanner.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ConductingLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].OpeningSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ClosingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].IntermediateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ClosingPrayer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meeting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
